<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>eat curd along with chicken</h1>
        <h1>
            i like chicken
        </h1>
        <h1><a href = '{% url "food:chicken" %}'> chicken</a></h1>
        <h1><a href = '{% url "drinks:maaza" %}'> maaza</a></h1>
        <h1><a href ='{% url "drinks:bindu" %}'> bindu</a></h1>
    </center>
</body>
</html>